.catalog {
	margin-bottom: 80px;
}

.order {
	min-height: 48px;
	margin-bottom: 30px;
}

.title {
	font-weight: 600;
	font-size: 28px;
	line-height: 120%;
	margin: 16px 0;
	font-family: 'Lobster', cursive;
}

.list {
	display: grid;

	grid-template-columns: repeat(auto-fit, 145px);
	gap: 10px;
}

.empty {
	font-size: 1.5em;
	margin: 15px 0;
	text-align: center;
}

@media (min-width: 1024px) {
	.catalog {
		margin-bottom: 100px;
	}

	.container {
		display: flex;
		gap: 30px;
	}

	.order {
		padding-top: 72px;
	}

	.wrapper {
		flex-grow: 1;
	}

	.title {
		font-weight: 600;
		margin-bottom: 24px;
	}

	.list {
		grid-template-columns: repeat(auto-fit, 300px);
		gap: 30px;
	}
}

.lds {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.lds div {
	animation: lds 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}

.lds div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #fff;
	margin: -4px 0 0 -4px;
}

.lds div:nth-child(1) {
	animation-delay: -0.036s;
}

.lds div:nth-child(1):after {
	top: 63px;
	left: 63px;
}

.lds div:nth-child(2) {
	animation-delay: -0.072s;
}

.lds div:nth-child(2):after {
	top: 68px;
	left: 56px;
}

.lds div:nth-child(3) {
	animation-delay: -0.108s;
}

.lds div:nth-child(3):after {
	top: 71px;
	left: 48px;
}

.lds div:nth-child(4) {
	animation-delay: -0.144s;
}

.lds div:nth-child(4):after {
	top: 72px;
	left: 40px;
}

.lds div:nth-child(5) {
	animation-delay: -0.18s;
}

.lds div:nth-child(5):after {
	top: 71px;
	left: 32px;
}

.lds div:nth-child(6) {
	animation-delay: -0.216s;
}

.lds div:nth-child(6):after {
	top: 68px;
	left: 24px;
}

.lds div:nth-child(7) {
	animation-delay: -0.252s;
}

.lds div:nth-child(7):after {
	top: 63px;
	left: 17px;
}

.lds div:nth-child(8) {
	animation-delay: -0.288s;
}

.lds div:nth-child(8):after {
	top: 56px;
	left: 12px;
}

@keyframes lds {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}