.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 10px 0;
  border-bottom: 1px solid #F2F2F3;
}

.item:first-child {
  border-top: 1px solid #F2F2F3;
}


.goods {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.image_wrapper {
  flex: 0 0 30%;
  height: auto;
  overflow: hidden;
}

.image {
  border-radius: 8px;
}

.goods__title {
  flex: 0 0 50%;
  font-weight: 400;
  margin-bottom: 1px;
  flex-grow: 1;
  text-align: left;
}

.goods__weight {
  color: #B1B1B1;
  margin-bottom: 6px;
}


@media (min-width: 1024px) {
  .item {
    padding: 15px 0;
  }
}