/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
		url('./assets/fonts/nunito-v25-latin_cyrillic-regular.woff2') format('woff2'),
		url('./assets/fonts/nunito-v25-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local(''),
		url('./assets/fonts/nunito-v25-latin_cyrillic-600.woff2') format('woff2'),
		url('./assets/fonts/nunito-v25-latin_cyrillic-600.woff') format('woff');
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: local(''),
		url('./assets/fonts/nunito-v25-latin_cyrillic-800.woff2') format('woff2'),
		url('./assets/fonts/nunito-v25-latin_cyrillic-800.woff') format('woff');
}

img,
svg {
	display: block;
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

button {
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

/* 



html {
	box-sizing: border-box;
	position: relative;
	overflow-x: hidden;
}





ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
p,
figure {
	margin: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.currency {
	font-weight: 400;
} */

body {
	font-family: "Montserrat";
	min-width: 320px;
	min-height: 100vh;
	background-color: #ffc1d5;
	color: #000000;
	position: relative;
	overflow-x: hidden;
}

.react-datepicker__time-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-inactive__title {
  font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.app-inactive__subtitle {
  font-size: 1.5rem;
  margin-bottom: 5rem;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.app-inactive__subtitle a {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  width: 5rem;
  color: #661e35;
  border: 1px solid #F04360;
  padding: 1rem;
  border-radius: 1rem;
}